In [1]:
#Import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import statsmodels.formula.api as smf
from yahoo_fin import stock_info as si

Warning - Certain functionality
             requires requests_html, which is not installed.

             Install using:
             pip install requests_html

             After installation, you may have to restart your Python session.

In [2]:
#Define date range
start_date = '01-01-2024'
end_date = '08-15-2024'

#Extract data
df=pd.DataFrame()
for ticker in list(['SBUX','VOO','QSR','YUM','MCD']):
    df=pd.concat([df,si.get_data(ticker,interval='1d',start_date=start_date, end_date=end_date,index_as_date=False)]) 

print(df)

#Calculate Daily Returns 
df['returns'] = np.where(df['ticker']==df['ticker'].shift(), (df['close']/df['close'].shift())-1, np.nan)

          date        open        high         low       close    adjclose  \
0   2024-01-02   95.449997   95.949997   93.620003   93.669998   91.853561
1   2024-01-03   93.959999   94.239998   93.059998   93.230003   91.422096
2   2024-01-04   93.099998   94.580002   93.000000   93.550003   91.735893
3   2024-01-05   93.330002   93.580002   92.480003   92.989998   91.186745
4   2024-01-08   93.019997   94.570000   92.949997   94.190002   92.363472
..         ...         ...         ...         ...         ...         ...
151 2024-08-08  268.929993  273.649994  268.079987  271.190002  271.190002
152 2024-08-09  271.700012  271.700012  266.959991  267.910004  267.910004
153 2024-08-12  267.459991  269.529999  265.329987  269.459991  269.459991
154 2024-08-13  270.309998  272.000000  267.540009  270.309998  270.309998
155 2024-08-14  269.859985  271.510010  268.500000  271.149994  271.149994

      volume ticker
0    8859700   SBUX
1    7161700   SBUX
2    7118600   SBUX
3    7189900   SBUX
4    7536900   SBUX
..       ...    ...
151  3227200    MCD
152  2664900    MCD
153  3008100    MCD
154  2603600    MCD
155  2242100    MCD

[780 rows x 8 columns]

In [3]:
df.head()

,date,open,high,low,close,adjclose,volume,ticker,returns
0,2024-01-02,95.449997,95.949997,93.620003,93.669998,91.853561,8859700,SBUX,NaN
1,2024-01-03,93.959999,94.239998,93.059998,93.230003,91.422096,7161700,SBUX,-0.004697
2,2024-01-04,93.099998,94.580002,93.000000,93.550003,91.735893,7118600,SBUX,0.003432
3,2024-01-05,93.330002,93.580002,92.480003,92.989998,91.186745,7189900,SBUX,-0.005986
4,2024-01-08,93.019997,94.570000,92.949997,94.190002,92.363472,7536900,SBUX,0.012905

In [ ]:
#Save DataFrame as CSV
df.to_csv('sbux_ceo_prices.csv', index=False)